{% load static %}
<link rel="stylesheet" href="{% static 'tracker/style.css' %}" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/app.js' %}"> </script>

<div class="popup-content">
    <h2>{{ transaction_type|title }}</h2>
    <form method="post" id="transaction-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-sumbit">Submit</button>
        <button type="button" class="btn-cancel" onclick="closePopup()">Cancel</button>
    </form>
</div>